module.exports = {
    DUPLICATE_REGEX_FOUND:'Upload task terminated due to duplicate Regex pattern found',
    DUPLICATE_REGEX_FOUND_QUESTION:'Duplicate Regex pattern found, continue? (y/n):',
    INVALID_REGEX:'Invalid regex pattern',
    EMPTY_CDN_CONFIG:'Empty CDN upload config',
    EMPTY_ACCESS_OR_SECRET:'Empty %s access key or secret key',
    LANGUAGE_LOAD_FAILED:'Invalid custom language file "%s", using default output language',
    INVALID_CDN_OPTIONS_LOADED:'Invalid cdn options loaded, please check your CDN options and recompile: %s',
    CDN_TYPE_NOT_SUPPORTED:'Not supported CDN type',
    DELETE_PREVIOUS_ENABLED:'<deletePrevious> option enabled, Deleting previous resources...',
    PREVIOUS_LOG_NOT_EXISTS:'Previous log file doesn\'t exist.',
    INVALID_PREVIOUS_LOG_FILE:'Invalid previous wp.bundle.json file',
    EMPTY_PREVIOUS_LOG_FILE:'Empty previous uploaded file',
    DELETED_NUM_PREVIOUS_FILES:'Deleted %s previous bundle files',
    SKIP_DELETE_PREVIOUS_DUE_TO:'Skip to delete previous files due to: %s',
    EMPTY_UPLOADING_FILES:'No uploading files found, check regex test option if there are any issues',
    UPLOAD_START:'Uploading bundle files to selected CDN...',
    SINGLE_FILE_UPLOADED:'File uploaded',
    LOADING_FILE_ERROR:'Error happened while loading file %s due to %2s, please try to recompile',
    UPLOADING_ERROR:'Error happened while uploading file %s due to %2s, please try to recompile',
    ALL_FILE_UPLOADED:'All bundle files have been uploaded successfully',
    DELETE_OUTPUT_ENABLED:'<deleteOutput> option enabled, all output files are deleted',
    SAVING_LOG_ERROR:'Error happened while saving uploaded log due to: %s',
    INVALID_FTP_DEST_PATH:'Invalid ftp destination path'
};